<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Corona_virus_sol</title>
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Corona Virus delta Prediction</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
  
    
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="container"> 
<h2> Corona Virus Probability Detector</h2>
<form action="/" method="POST">
  <div class="form-group">
    <label for="fever">Enter Your fever Value</label>
    <input type="text" class="form-control" id="fever" placeholder="Enter Your fever Value" name="fever">
  </div>

    <div class="form-group">
    <label for="age">Enter Your Age</label>
    <input type="text" class="form-control" id="age" placeholder="Enter your age" name="age">
  </div>

  <div class="form-group">
    <label for="">Headach</label>
    <select class="form-control custom-select" id="headach" name="headach">
      <option value=0>No</option>
      <option value=1>Yes</option>
    </select>
  </div>
   <div class="form-group">
    <label for="">RunnyNose</label>
    <select class="form-control custom-select" id="runnyNose" name="runny nose">
      <option value=0>No</option>
      <option value=1>Yes</option>
    </select>
  </div>
   <div class="form-group">
    <label for="">Persistent Cough</label>
    <select class="form-control custom-select" id="persistent Cough" name="persistent Cough">
      <option value=0>No</option>
      <option value=1>Yes</option>
    </select>
  </div>
   <div class="form-group">
    <label for="">Sore throat</label>
    <select class="form-control custom-select" id="sore throatr" name="sore throatr">
      <option value=0>No</option>
      <option value=1>Yes</option>
    </select>
  </div>

  <div class="form-group">
    <label for="">Breath Difficulty</label>
    <select class="form-control custom-select" id="diffBreath" name="diffBreath">
      <option value=0>No</option>
      <option value=1>Little Difficulty</option>
      <option value=1>Severe Difficulty</option>
    </select>
  </div>


   <div class="form-group">
    <label for="">loss of smell</label>
    <select class="form-control custom-select" id="loss of smell" name="loss of smell">
      <option value=0>No</option>
      <option value=1>Yes</option>
    </select>
  </div>
 
   <button type="submit" class="btn btn-success">Submit</button>
</form>

</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>